*.iml
.gradle
/local.properties
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.psd
Banner*
/app/src/main/python/.venv
/app/src/main/python/benchmark_results.csv
/app/src/main/python/outputs
/app/src/main/python/.python-version
*.pyc
*.a
# Ignore built-in external libraries (headers and binaries)
/app/src/main/cpp/libs/skia/
/app/src/main/cpp/libs/eigen/
*.aab